body{
	color:#EAF6F6;
	margin:0;
	text-align: center;
	font-family: 'Merriweather', serif;

}


h1{
	color:#66BFBF;
  margin: 0 auto;
	font-family: 'Sacramento', cursive;
	font-size:5.625rem;

}

h2{
	color:#66BFBF;
	font-family: 'Montserrat', sans-serif;
	font-size:2.5rem;
	font-weight: normal;
	padding-bottom: 45px;
	font-style: italic;
}

h3{
	color:#11999E ;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	font-weight: bold;



}

hr{

	border: dotted #EAF6F6 6px;
	border-bottom:none;
	width:7%;
	margin: 100px auto;
}

span{
  text-decoration: underline;
}

p{
	color: black;

}

/* TOP CONTAINTER */
.top{
  background-color: #dcf2ee;
  padding-top: 100px;
}
.top-cloud{
position: absolute;
top: 30px;
right: 130px;
}

.btm-cloud{
  position: absolute;
  left: 200px;
}

.mid{
display:inline-block;
margin: 100px 0;
width: 80%;
}
.text1{
margin-top: 0px;

}
.codeimg{
  float:left;

	margin-right: 30px;
	width: 25%;



}
.ITimg{

	width:25%;
	float:right;

	margin-left: 30px;
}

.skills{

width: 50%;
margin-top:50px;
margin-right: auto;
margin-left: auto;
text-align: left;
line-height: 2;
}
.it{
  margin-left:auto
}
.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
  margin-top: 30px;
  margin-bottom: 30px;
	font-style: italic;
}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}

.footer{

  background-color: #368778	;
  padding: 50px;
  color: #66BFBF;
}
.socmedia{

	font-size: 20px;
  color:#63b7af;
    margin: 30px; 20px;
    text-decoration: none;
		font-style: italic;
		font-family: 'Montserrat', sans-serif;

}
.copyright{
  color: white;
	font: 10px;
}
.getintouch{
	margin-bottom: 0px;

}
